@page
@model BookWebRazor.Pages.Categories.CreateModel
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-2">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Create Category</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row">
			<div class="border p-3 mt-4">
				<div asp-validation-summary="All"></div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Category.Name" class="form-control border-0 shadow" id="CategoryName" />
					<label asp-for="Category.Name"></label>
					<span asp-validation-for="Category.Name" class="text-danger" id="name-error"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Category.DisplayOrder" class="form-control border-0 shadow" />
					<label asp-for="Category.DisplayOrder"></label>
					<span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
				</div>
				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Create</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-page="/categories/index" class="btn btn-outline-secondary border form-control">Back To List</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
		<script>
			$(document).ready(function () {
				$('#CategoryName').on('blur', function () {
					let name = $(this).val().trim();

					if (name === "") {
						$('[data-valmsg-for="Category.Name"]').text('');
						return;
					}

					$.get('/Categories/Create?handler=IsNameUnique', { name: name }, function (data) {
						let errorSpan = $('[data-valmsg-for="Category.Name"]');
						if (typeof data === 'string') {
							errorSpan.text(data);
						} else if (data.isValid === false) {
							errorSpan.text(data.message);
						} else {
							errorSpan.text('');
						}
					});
				});
			});

		</script>
	}
}