@page
@model BookWebRazor.Pages.Categories.DeleteModel

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gardient m-lg-0 py-2">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Delete Category</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post">
			<input asp-for="Category.Id" hidden />
			<div class="border">
				<div class="form-floating py-2 col-12">
					<input asp-for="Category.Name" disabled class="form-control border-0 shadow" />
					<label asp-for="Category.Name"></label>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Category.DisplayOrder" disabled class="form-control border-0 shadow" />
					<label asp-for="Category.DisplayOrder" ></label>
				</div>
				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-danger form-control">Delete</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-page="/categories/index" class="btn btn-outline-secondary border form-control">Back To List</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
